@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #1A1A1A;
    height: 100vh
}

h1, h2, h3, nav a {
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(90deg,rgba(255, 215, 0, 1) 0%, rgba(218, 165, 32, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p , li {
    font-family: 'Roboto', sans-serif;
    color: #F0F0F0;
}

header {
    display: flex;
    flex-direction: row;
    max-height: 100px;
    align-items: center;
    margin-bottom: 60px
}
header .logo {
    height: 100%;
}
header .logo img {
    max-height: 50px;
    margin: 10px;
}
nav {
    margin-left: auto;
    padding: 10px;
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.about {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80vw;
    margin: 0 auto;
    justify-items: left;
    align-items: center
}
.about h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.about p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.about ul {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.about img {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    max-height: 400px;
}
.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    width: 80vw;
    gap: 20px;
}
.service-card {
    width: calc((100% / 2) - 3%);
    border: solid 6px #fff;
    padding: 20px;
}