@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
    height: 100vh
}

h1, h2, nav a {
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(90deg,rgba(255, 215, 0, 1) 0%, rgba(218, 165, 32, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p , li {
    font-family: 'Roboto', sans-serif;
    color: #F0F0F0;
}

ul {
    list-style: none;
}
li {
    display: flex;
    align-items: flex-start;
    position: relative;
}
li p {
    margin-left: 20px;
}
ul p:before {
    content: '';
    background: url(../media/diamond-shape.svg) no-repeat 50% 50%;
    background-size: contain;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 5px;
}
.about p:before {
    filter: invert(1);
}

header {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    align-items: center;
    margin-bottom: 60px;
    justify-content: center;
    gap: 20px;
}
header .logo img {
    max-height: 50px;
}
nav {
    padding: 10px;
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.about {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    justify-items: left;
    align-items: center
}
.about img {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    max-height: 400px;
    width: 40%;
}
.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    width: 80vw;
    gap: 20px;
}
.service-card {
    width: calc((100% / 2) - 3%);
    /* border: solid 6px #fff; */
    padding: 20px;
    border: 20px solid transparent;
    border-image-source: url(../media/border.png);
    border-image-slice: 20 fill;
    border-image-repeat: stretch;
    image-rendering: pixelated;
}

.service-card h3, .service-card p, .service-card li {
    color: #000000;
}
.service-card h3 {
    font-family: 'Press Start 2P', cursive;
}
footer {
    justify-self: flex-end;
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 20px solid transparent;
    border-image-source: url(../media/border.png);
    border-image-slice: 20 fill;
    border-image-repeat: stretch;
    image-rendering: pixelated;
    padding: 40px 200px;
}
label {
    font-family: "Courier New", Courier, monospace;
}
.submit {
    border: none;
    background: none;
    font-family: "Press Start 2P", cursive;
    font-size: 2rem;
}