@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #1A1A1A;
}

h1, h2, h3, nav a {
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(90deg,rgba(255, 215, 0, 1) 0%, rgba(218, 165, 32, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p , li {
    font-family: 'Roboto', sans-serif;
    color: #F0F0F0;
}